* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  border: 1px solid #999999;
  border-radius: 0.25em;
  padding: 5px;
  margin: 5px;
  width: fit-content;
  overflow: auto;
}

input {
  border: 1px solid #000000;
  height: 25px;
  padding: 2px;
  margin: 10px 0 10px 5px;
  outline: none;
}

.inputGroup {
  text-align: right;
}

input[type="password"] {
  width: 300px;
}

input[type="submit"] {
  height: 32px;
  padding: 7px 15px;
  margin-left: 5px;
  border-radius: 0.25em;
  float: right;
  cursor: pointer;
  color: #01aa01;
  background-color: #01aa017a;
  border-color: #01aa01;
}

input[type="submit"]:hover {
  background-color: #01aa0157;
  color: #ffffff;
}

input[type="submit"]:disabled {
  cursor: default;
  background-color: inherit;
  color: #999999;
  border-color: inherit;
}

.message {
  border-radius: 0.25em;
  margin-top: 5px;
  padding: 5px;
}

.error {
  background-color: #FF0000;
  color: #FFFFFF;
}

.redLight {
  background-color: #ff00007a;
  color: #FFFFFF;
  border: 1px solid #FF0000;
}

.warning {
  background-color: #ffbb007a;
  color: #FFFFFF;
  border: 1px solid #ffbb00;
}

.lightWarning {
  background-color: #ff88007a;
  color: #FFFFFF;
  border: 1px solid #ff8800;
}

.greenLight {
  background-color: #01aa017a;
  color: #FFFFFF;
  border: 1px solid #01aa01;
}
